.upload-files {
	max-width: 400px;
	margin: 0 auto;
}

.upload-files__upload-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px dashed #ddd;
	background-color: #fafafa;
	border-radius: 8px;
	cursor: pointer;
	width: 100%;
	height: 150px;
	transition:
		border-color 0.3s,
		background-color 0.3s;

	input {
		opacity: 0;
		height: 0px;
	}

	&:hover {
		border-color: #949fac;
		background-color: #e8f5ff;
	}

	&:focus-within {
		outline: -webkit-focus-ring-color auto 1px;
	}
}

.upload-files__uploaded-item {
	display: flex;
	align-items: center;
	gap: 4px;
	margin-top: 8px;
	line-height: 24px;
}

.upload-files__uploaded-item__file-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
